@{
    ViewData["Title"] = "Configurar Juego";
}

<div class="centrado">
    <form method="get" action='@Url.Action("Comenzar")' class="row g-3" autocomplete="off">
        <div class="col-12">
            <label for="usuario" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Ingresa tu nombre" name="usuario" required>
        </div>
        <div class="col-md-6">
            <label for="dificultad" class="form-label">Dificultad</label>
            <select class="form-select" id="dificultad" name="dificultad" required>
                <option value="" disabled selected hidden>Selecciona la dificultad</option>
                @foreach (var item in @ViewBag.Dificultades)
                {
                    <option value="@item.IdDificultad">@item.Nombre</option>
                }
                <option value="-1">Todas</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select form-control" id="categoria" name="categoria" required>
                <option value="" disabled selected hidden>Selecciona la categoria</option>
                @foreach (var item in @ViewBag.Categorias)
                {
                    <option value="@item.IdCategoria">@item.Nombre</option>
                }
                <option value="-1">Todas</option>
            </select>
        </div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Continuar</button></a>
        </div>
    </form>
</div>